/* cart.css */
body {
    background-color: #f8f9fa;
}

table {
    background-color: #fff;
}

.table-dark {
    background-color: #343a40 !important;
}

.table-dark th {
    color: #fff;
}

.btn-primary {
    background-color: #ffc107;
    border: none;
    color: #000;
}

.btn-primary:hover {
    background-color: #e0a800;
    color: #000;
}

.btn-secondary, .btn-success {
    border-radius: 0;
    border: none;
}
